$color-background: white;
$color-background-dark: #9098a4;
$color-background-button: #49a3d2;

$color-border: #dddddd;

$color-tabs: #1e8cbe;
$color-selected-tab: #333333;

$color-settings-text: #7c7c7c;
$color-warning: red;
$color-black: black;